@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body,
#__next {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.vote-btn:hover svg {
  fill: #f59e0b;
}

.vote-btn.rotate-180:hover svg {
  fill: #3b82f6;
}

/* Placeholder is placed using CSS */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #a8a29e;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror pre {
  /* width: max-content; */
  background: #0d0d0d;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
}

.ProseMirror pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.ProseMirror code {
  background-color: #e7e5e4;
  border-radius: 0.25em;
  box-decoration-break: clone;
  color: #616161;
  font-size: 0.9rem;
  padding: 0.25em;
}

.ProseMirror blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #292524;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

.dark ::-webkit-scrollbar-thumb {
  background: #78716c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}